body{
    background-color: #f0f4f7;
    font-family: fa5-proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    min-width: 440px;
}
.clearfix::before,
.clearfix::after{
            content: '';
            display: table;
            clear: both;
}

.topbar-wrapper{
    box-sizing: border-box;
    height: 90px;
    background-color: #fff;
    padding: 24px 0;
}
.topbar{
    height: 90px;
    width: 300px;
    margin: 0 auto;
}
.topbar a{
    text-decoration: none;
}
.topbar a .logo{
    float: left;
    width: 42px;
    height: 42px;
    background-size: 42px 42px;
    background-image: url(../img/favicon.ico);
}
.topbar a .title{
    float: left;
    margin: 0 20px;
    color: rgb(65, 65, 65);
    line-height: 42px;
    font-size: 28px;
    font-weight: bold;
    
}
.topbar .title:hover{
    color: #3899ec;
}

.body-wrapper{
    position: relative;
    margin: 85px auto;
    width: 440px;
    height: 530px;
    background-color: #fff;
    box-shadow: 0 .25rem .125rem 0 rgba(0,0,0,0.025);
    border: 2px rgb(212, 212, 212, .5) solid;
    border-radius: .25rem;
}
.body-wrapper .title{
    font-size: 35px;
    font-weight: bold;
    color: rgb(65, 65, 65);
    height: 40px;
    line-height: 40px;
    padding: 40px 170px;
}
.user-input{
    width: 370px;
    height: 380px;
    margin: 0 auto;
    background-color: #fff;
}
.username span,
.password span{
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    box-sizing: border-box;
    padding: 5px 0;
    color: #515a62;
}
.username-input input,
.password-input input{
    box-sizing: border-box;
    height: 74px;
    width: 370px;
    margin-top: 15px;
    font-size: 17px;
    padding: 0 25px;
    color: #495057;
    border: #dee2e6 solid 2px;
    border-radius: .25rem;
    box-shadow: inset 0 .25rem .125rem 0 rgba(0,0,0,0.05);
}
.username-input input:focus,
.password-input input:focus{
    border-color: #4dabf7;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.0125),0 0 8px rgba(34,139,230,0.5);
}
.password{
    margin-top: 20px;
}
.forget a{
    display: block;
    text-decoration: none;
    color: #228be6;
    width: 185px;
    height: 18px;
    line-height: 18px;
    margin: 15px 0;
    font-size: 14px;
}
.btn button{
    width: 100%;
    height: 76px;
    color: rgb(235, 238, 238);
    font-size: 17px;
    font-weight: 600;
    background-color: #228be6;
    border-radius: .25rem;
    border: solid rgba(0,0,0,0.2) 1px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.0125),0 1px 1px rgba(0,0,0,0.05);
}
.btn button:hover{
    background-color: #2280d1;
}
.btn button:active{
    border-top-width: calc(.2rem + .0625rem);
    border-bottom-width: .0625rem;
}

.footer{
    position: relative;
    bottom: 40px;
    width: 350px;
    height: 24px;
    margin: 0 auto;
    font-size: 15px;
    color: #495057;
}
.footer a{
    color: #228be6;
    text-decoration: none;
}